# Put this in volumes/config/wg0.conf
[Interface]
Address = 0.0.0.0
ListenPort = 00000
PrivateKey = 0000000000000000000000000000000000000000000=
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth+ -j MASQUERADE
# Custom hack to redirect Google's DNS to our local DNS server
# Wireguard Android is not able to change the DNS setup of some phones, which is Google's 8.8.8.8 / 8.8.4.4
# Remember to also set the Wireguard client's DNS to match Google's for full compliance
PostUp = iptables -t nat -A PREROUTING -i %i -d 8.8.8.8,8.8.4.4 -j DNAT --to-destination 10.0.0.1
# We also send traffic to tun0 as we are using gluetun
PostUp = iptables -t nat -A POSTROUTING -o tun0 -j MASQUERADE
# Gluetun drops input by default, accept input traffic from wireguard
PostUp = iptables -A INPUT -i %i -j ACCEPT
# No need for PostDown, IP tables are wiped by stopping the container

[Peer]
# peer_phone
PublicKey = 0000000000000000000000000000000000000000000=
AllowedIPs = 0.0.0.0/32

[Peer]
# peer_laptop
PublicKey = 0000000000000000000000000000000000000000000=
AllowedIPs = 0.0.0.0/32

