[Unit]
Description=Start server apps
Requires=docker.service
After=docker.service

[Service]
ExecStart=/opt/selfhost/startup
RemainAfterExit=yes
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
