[Unit]
Description=External hard disk drive

[Mount]
What=${HDD_DEVICE_PATH}
Where=/mnt/hdd
Type=ext4
Options=defaults,nofail
EnvironmentFile=/etc/systemd/environment

[Install]
WantedBy=multi-user.target
